@import 'normalize.scss';

// === Mixins ===
@mixin font-Neucha {
    font-family: 'Neucha', sans-serif;
}
@mixin font-OpenSans {
    font-family: 'OpenSans', sans-serif;
}

// === / Mixins === 


header {
    display: flex;
}



.bg-img {
    position: relative;
    
}


.bg-img:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../image/image%201.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    opacity: 90%;
    
    content: '';
   
    
}


.section-header {
    position: relative;
    
    
    .section-inner {
        height: 100vh;
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
    }
    
    
    .section-header-content {
        display: flex;
        align-items: center;
        flex-grow: 1;
        
        .section-header-wrapper {
            display: flex;
            
            .title-black {
                position: absolute;
                width: 1138px;
                height: 73.71px;
                left: 165px;
                top: 284.29px;

                font-family: Neucha;
                font-style: normal;
                font-weight: normal;
                font-size: 72px;
                line-height: 100%;
                color: #2A2626;
                
            }
            .title-orange {
                position: absolute;
                width: 1138px;
                height: 177.12px;
                left: 165px;
                top: 100px;

                font-family: Neucha;
                font-style: normal;
                font-weight: normal;
                font-size: 72px;
                line-height: 86px;
                color: #FE8A02;
            }
            
            }
            .section-header-wrapper_img {
                
                position: absolute;
                width: 1082.81px;
                height: 525px;
                left: 461px;
                top: 55px;
            }
        
            .section-header-wrapper_text{
                
                
            }
        }
        .section-header-wrapper_link {
            
            
        }
    }
