@import 'normalize.scss';

// === Mixins ===
@mixin font-Neucha {
    font-family: 'Neucha', sans-serif;
}
@mixin font-OpenSans {
    font-family: 'OpenSans', sans-serif;
}

// === / Mixins === 

p, h1 {
    margin: 0px;
    padding: 0px;
}

header p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

}
header a {
    font-family: Open Sans;
    font-style: normal;
    font-size: 16px;
    line-height: 160%;
    text-decoration: none;
}

.bg-img {
    position: relative;
    
}


.bg-img:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../image/image%201.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    opacity: 90%;
    
    content: '';
   
    
}

.overflow-hidden {
    overflow: hidden;
}

.section-header {
    padding-bottom: 100px;
    
    
    .section-inner {  
        position: relative;
        z-index: 1;
    
        max-width: 1110px;
        margin: 0 auto;
        padding: 100px 200px 0px 200px;
  
    }
    
    
    .section-header-content {
        display: flex;
        align-items: center;
        flex-grow: 1;
        
        .section-header-wrapper {
            display: flex;
           
            .title-black {
                position: absolute;
                width: 1138px;
                height: 73.71px;
                left: 165px;
                top: 284.29px;

                font-family: Neucha;
                font-style: normal;
                font-weight: normal;
                font-size: 72px;
                line-height: 100%;
                color: #2A2626;
                
            }
            .title-orange {
                position: absolute;
                width: 1138px;
                height: 177.12px;
                left: 165px;
                top: 100px;

                font-family: Neucha;
                font-style: normal;
                font-weight: normal;
                font-size: 72px;
                line-height: 86px;
                color: #FE8A02;
            }
            
            }
            .section-header-wrapper_img {
                
                position: absolute;
                width: 1082.81px;
                left: 461px;
                top: 55px;
            }
        
            .section-header-wrapper_text{
                
                display: flex;
                justify-content: space-between;
                padding-top: 400px;
                
                
                .text_header1 {
                   padding-top: 50px;
                   align-items: flex-end; 
                    
                    
                    width: 550px;
                    
                    
                }
                
                .text_header2 {
                    padding-top: 50px;
                    width: 550px;
                    padding-bottom: 30px;
                    margin-left: 30px;
                    margin-bottom: 30px;
                }
                    
                                /*Ссылка*/
    .header-link {
        background-color: #FE8A02;
        padding: 13px 23px;
        color: white;
        border-radius: 2px;
        

    }
    .margin-link {
        margin: 40px 17px 0px auto;
    }
    .text-bold {
        font-weight: bold;
    }
    
    .uppercase {
        text-transform: uppercase;
    }


    }
    }
    }



    .section-promo {
        
        display: flex;
        justify-content: center;
        
        

        .section-inner {

            .title1 {
                text-align: center;
                
                

            

            .title-black1 {
                font-family: Neucha;
                font-style: normal;
                font-weight: normal;
                font-size: 60px;
                line-height: 72px;
                color: #2A2626;
                

            }
            .title-orange1 {
                font-family: Neucha;
                font-style: normal;
                font-weight: normal;
                font-size: 60px;
                line-height: 72px;
                color: #FE8A02;

            }

            .text-promo {
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 160%;
                color: #212529;

            }
        }
        
        .video-promo {
            
           
        }
    }
}

                         /*Navigation*/
 .bg-dark {
    background-color: #42413C;
    
    
 }  
  
  .section-nav {
    margin-top: -100px;
    

    .section-inner {

        

        .container-nav {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            position: relative;
            justify-content: center;
            text-decoration: none;
            padding-top: 200px;
            padding-bottom: 100px;
            max-width: 1200px;
            align-items: stretch;
            margin: 0 auto;

            

            

            .title-orange2 {

                font-family: Neucha;
                font-style: normal;
                font-weight: normal;
                font-size: 52px;
                line-height: 120%;
                color: #FE8A02;


            }
            .title-white2 {

                font-family: Neucha;
                font-style: normal;
                font-weight: normal;
                font-size: 52px;
                line-height: 120%;
                color: #F5F4F0;

            }

        }

            
            .title-card {
                max-width: 350px;
                margin: 15px;
            }
            .card {

                text-decoration: none;
                max-width: 350px;
                background-color: #f5f4f0;
                margin: 15px;
                
                    
                

                .card-number {

                    font-family: Neucha, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 64px;
                    line-height: 70px;
                    padding: 24px 0px 0px 24px;


                    color: #42413C;

                }

                .card-title {

                    font-family: Neucha;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 34px;
                    line-height: 120%;
                    padding: 40px 24px 0px 24px;

                    color: #FE8A02;

                }

                .card-text {

                    font-family: Open Sans, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 26px;
                    padding: 16px 24px 35px 24px;

                    color: #2A2626;

                }
            }
        }
 }   

 