
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;
}

/*GENERAL*/

.pos-r {
  position: relative;
}

p, h1, h2 {
  margin: 0px;
  padding: 0px; 
}

header p {
  font-family: 'OpenSans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px; 
}

header a {
  font-family: 'OpenSans', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 160%;
  text-decoration: none; 
}

.background-brown {
  background: #B09A81; 
}

  .bg-light {
    background-color: #f5f4f0;
  }

.bg-dark {
  background-color: #42413C; }

.bg-img {
  position: relative; 
}

.bg-img:before {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: -43px;
  left: 0;
  background-image: url(../image/image1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  opacity: 90%;
  content: ''; 
}

.bg-img-section {
position: relative;
}

.bg-img-section:before {
  position: absolute;
  top: 0;
  right: -75px;
  bottom: -43px;
  left: 0;
  background-image: url(../image/image1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  opacity: 90%;
  content: '';
}

.section-inner {
  position: relative;
  z-index: 1;
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0; 
}

  .container {
    position: relative;
  z-index: 1;
  max-width: 1110px;
  margin: 0 auto;
  padding: 105px 15px;
 }
 
 .image {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
 }

.overflow-hidden {
  overflow: hidden; 
}

.mt-100 {
  margin-top: -100px; 
}

.pb0 {
  padding-bottom: 0px; 
}

.pr-30 {
  padding-right: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.h-348 {
  height: 348px;
}
/*HEADER*/

.section-header {
  padding-bottom: 20px;
}
    .section-header-wrapper-title {
      display: flex;
    }

    .section-header .title-black {
      font-family: 'Neucha', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 72px;
      line-height: 100%;
      color: #2A2626; 
    }

    .section-header .title-orange {
      font-family: 'Neucha', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 72px;
      line-height: 86px;
      color: #FE8A02; 
    }

  .section-header .section-header-wrapper-img {
    position: absolute;
  top: 52px;
  right: -152px;

  height: 525px; 
}

  .section-header .section-header-wrapper-text {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex-grow: 1;
    padding-top: 220px;
    padding-right: 15px;
    padding-left: 15px;
     
  }
      /*Ссылка*/

    .section-header .section-header-wrapper-text .text-header1 {
      align-items: flex-end;
      flex-basis: 550px; 
    }

    .section-header .section-header-wrapper-text .text-header2 {
      flex-basis: 550px;
      margin-left: 30px; 
    }

    .section-header .section-header-wrapper-text .header-link {
      background-color: #FE8A02;
      padding: 13px 23px;
      color: white;
      border-radius: 2px; 
    }

    .section-header .section-header-wrapper-text .margin-link {
      margin: 40px 17px 0px auto; 
    }

    .section-header .section-header-wrapper-text .text-bold {
      font-weight: bold; 
    }

    .section-header .section-header-wrapper-text .uppercase {
      text-transform: uppercase; 
    }

/*PROMO*/

.section-promo {
  display: flex;
  justify-content: center; 
}

  .section-promo .section-inner .title1 {
    text-align: center;
   }

    .section-promo .section-inner .title1 .title-black1 {
      font-family: 'Neucha', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 60px;
      line-height: 72px;
      color: #2A2626; 
    }

    .section-promo .section-inner .title1 .title-orange1 {
      font-family: 'Neucha', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 60px;
      line-height: 72px;
      color: #FE8A02; 
    }

    .section-promo .section-inner .title1 .text-promo {
      font-family: 'OpenSans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 160%;
      color: #212529;
      padding: 30px 0; 
    }

.video-promo {

  position: relative;
  display: block;
  margin: auto;
  border: 0;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15)); }

/*Navigation*/

.section-nav {
  margin-top: -100px; 
}

  .section-nav .section-inner .container-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    text-decoration: none;
    padding-top: 100px;
    min-width: 1200px;
    align-items: stretch;
    margin: 0 auto; 
  }

    .section-nav .section-inner .container-nav .title-orange2 {
      font-family: 'Neucha', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 52px;
      line-height: 120%;
      color: #FE8A02; 
    }

    .section-nav .section-inner .container-nav .title-white2 {
      font-family: 'Neucha', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 52px;
      line-height: 120%;
      color: #F5F4F0; 
    }

  .section-nav .section-inner .title-card {
    max-width: 350px;
    padding-right: 30px;
    }

  .section-nav .section-inner .card {
    height: auto;
    text-decoration: none;
    max-width: 350px;
    background-color: #f5f4f0;
    margin-right: 30px;
 }

    .section-nav .section-inner .card .card-number {
      font-family: Neucha, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 64px;
      line-height: 70px;
      padding: 24px 0px 0px 24px;
      color: #42413C; 
    }

    .section-nav .section-inner .card .card-title {
      font-family: 'Neucha', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 34px;
      line-height: 120%;
      padding: 40px 24px 0px 24px;
      color: #FE8A02; 
    }

    .section-nav .section-inner .card .card-text {
      font-family: Open Sans, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      padding: 16px 24px 15px 24px;
      color: #2A2626; 
    }

/*  IKEA   */

.ikea-title {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: flex-start;
  flex-grow: 1; 
}

  .ikea-title .ikea-title-img {
    padding-right: 30px; 
  }

  .ikea-title .ikea-title1 {
    font-family: 'Neucha', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #908D8B; 
  }

  .ikea-title .ikea-title2 {
    font-family: 'Neucha', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    color: #2A2626; 
  }

  .ikea-title .pb-30 {
    padding-bottom: 30px; 
  }

  .ikea-title .ikea-title-text {
    font-family: 'Neucha', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 41px;
    color: #2A2626; 
  }

.ikea-wrapper {
  max-width: 1110px;
  padding: 100px 0 0 0; 
}

  .ikea-wrapper .ikea-wrapper-title {
    background-color: #B09A81;
    background-repeat: no-repeat;
    padding: 4px 0 4px 8px;
    font-family: 'OpenSans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF; 
  }

  .ikea-wrapper .ikea-wrapper-text {
    display: flex;
    padding-top: 24px; 
  }

    .ikea-wrapper .ikea-wrapper-text .ikea-wrapper-text1 {
      font-family: 'OpenSans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      padding-right: 30px;
      color: #2A2626;
      text-align: start;
      flex-basis: 550px; 
    }

    .ikea-wrapper .ikea-wrapper-text .ikea-wrapper-text2 {
      font-family: 'OpenSans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      flex-basis: 550px;
      color: #2A2626; 
    }

/*  Optimization    */

.opt-title {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: flex-start;
  flex-grow: 1; 
}

  .opt-title .opt-title-img {
    padding-left: 30px; 
  }

  .opt-title .opt-title1 {
    font-family: 'Neucha', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #D7CCC0; 
  }

  .opt-title .opt-title2 {
    font-family: 'Neucha', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    color: #FFFFFF; 
  }

  .opt-title .pb-30 {
    padding-bottom: 30px; 
  }

  .opt-title .opt-title-text {
    font-family: 'Neucha', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 120%;
    color: #FFFFFF; 
  }

.opt-wrapper {
  max-width: 1110px;
  padding: 100px 0 0 0; 
}

  .opt-wrapper .opt-wrapper-title {
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    padding: 4px 0 4px 8px;
    font-family: 'OpenSans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #B09A81; 
  }

  .opt-wrapper .opt-wrapper-text {
    display: flex;
    padding-top: 24px; 
  }

    .opt-wrapper .opt-wrapper-text .opt-wrapper-text1 {
      font-family: 'OpenSans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      padding-right: 30px;
      color: #FFFFFF;
      text-align: start;
      flex-basis: 550px; 
    }

    .opt-wrapper .opt-wrapper-text .opt-wrapper-text2 {
      font-family: 'OpenSans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      flex-basis: 550px;
      color: #FFFFFF; 
    }

/*  Distortion    */

.distortion-title {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: flex-start;
  flex-grow: 1; 
}

  .distortion-title .distortion-title-img {
    padding-right: 30px; 
  }

  .distortion-title .distortion-title1 {
    font-family: 'Neucha', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #908D8B; 
  }

  .distortion-title .distortion-title2 {
    font-family: 'Neucha', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    color: #2A2626; 
  }

  .distortion-title .pb-30 {
    padding-bottom: 30px; 
  }

  .distortion-title .distortion-title-text {
    font-family: 'Neucha', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 41px;
    color: #2A2626; 
  }

.distortion-wrapper {
  max-width: 1110px;
  padding: 100px 0 15px 0; 
}

  .distortion-wrapper .distortion-wrapper-title {
    background-color: #B09A81;
    background-repeat: no-repeat;
    padding: 4px 0 4px 8px;
    font-family: 'OpenSans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF; 
  }

  .distortion-wrapper .distortion-wrapper-text {
    display: flex;
    padding-top: 24px; 
  }

    .distortion-wrapper .distortion-wrapper-text .distortion-wrapper-text1 {
      font-family: 'OpenSans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      padding-right: 30px;
      color: #2A2626;
      text-align: start;
      flex-basis: 550px; 
    }

    .distortion-wrapper .distortion-wrapper-text .distortion-wrapper-text2 {
      font-family: 'OpenSans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      flex-basis: 550px;
      color: #2A2626; 
    }

/*  Hyperbolic   */

.hyper-title {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: flex-start;
  flex-grow: 1; 
}

  .hyper-title .hyper-title-img {
    padding-left: 30px; 
  }

  .hyper-title .hyper-title1 {
    font-family: 'Neucha', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #D7CCC0; 
  }

  .hyper-title .hyper-title2 {
    font-family: 'Neucha', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    color: #FFFFFF; 
  }

  .hyper-title .pb-30 {
    padding-bottom: 30px; 
  }

  .hyper-title .hyper-title-text {
    font-family: 'Neucha', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 120%;
    color: #FFFFFF; 
  }

.hyper-wrapper {
  max-width: 1110px;
  padding: 100px 0 15px 0; 
}

  .hyper-wrapper .hyper-wrapper-title {
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    padding: 4px 0 4px 8px;
    font-family: 'OpenSans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #B09A81; 
  }

  .hyper-wrapper .hyper-wrapper-text {
    display: flex;
    padding-top: 24px; 
  }

    .hyper-wrapper .hyper-wrapper-text .hyper-wrapper-text1 {
      font-family: 'OpenSans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      padding-right: 30px;
      color: #FFFFFF;
      text-align: start;
      flex-basis: 550px; 
    }

    .hyper-wrapper .hyper-wrapper-text .hyper-wrapper-text2 {
      font-family: 'OpenSans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      flex-basis: 550px;
      color: #FFFFFF; 
    }

/*  Planning   */

.plan-title {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: flex-start;
  flex-grow: 1; 
}

  .plan-title .plan-title-img {
    padding-right: 30px; 
  }

  .plan-title .plan-title1 {
    font-family: 'Neucha', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #908D8B; 
  }

  .plan-title .plan-title2 {
    font-family: 'Neucha', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    color: #2A2626; 
  }

  .plan-title .pb-30 {
    padding-bottom: 30px; 
  }

  .plan-title .plan-title-text {
    font-family: 'Neucha', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 41px;
    color: #2A2626; 
  }

.plan-wrapper {
  max-width: 1110px;
  padding: 100px 0 100px 0; 
}

  .plan-wrapper .plan-wrapper-title {
    background-color: #B09A81;
    background-repeat: no-repeat;
    padding: 4px 0 4px 8px;
    font-family: 'OpenSans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF; 
  }

  .plan-wrapper .plan-wrapper-text {
    display: flex;
    padding-top: 24px; 
  }

    .plan-wrapper .plan-wrapper-text .plan-wrapper-text1 {
      font-family: 'OpenSans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      padding-right: 30px;
      color: #2A2626;
      text-align: start;
      flex-basis: 550px; 
    }

    .plan-wrapper .plan-wrapper-text .plan-wrapper-text2 {
      font-family: 'OpenSans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      flex-basis: 550px;
      color: #2A2626; 
    }

/*  Footer   */

.footer {
  position: relative;
  z-index: 1;
  max-width: 1110px;
  padding: 100px 165px 0 165px; 
}

  .footer .section-footer {
    background-color: #42413C;
    height: 190px;
    display: flex;
     }

    .footer .section-footer .footer-title {
      font-family: 'Neucha', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 34px;
      line-height: 120%;
      color: #FFFFFF;
      padding: 55px 55px;
      padding-right: 122px; 
    }

    .footer .section-footer .email .title-email {
      padding-top: 38px;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      font-family: 'OpenSans', sans-serif;
      line-height: 160%;
      color: #FFFFFF; 
    }

    .footer .section-footer .email .input-email {
      padding-top: 9px;
      display: flex; 
    }

      .footer .section-footer .email .input-email .email-input::placeholder {
        opacity: 0,2; 
      }

      .footer .section-footer .email .input-email .email-input {
        height: 50px;
        width: 423px;
        padding: 0;
        border: none; 
      }

      .footer .section-footer .email .input-email .button {
        position: relative;
        width: 70px;
        height: 50px;
        border: none;
        padding: 0;
        background-color: #FE8A02;
        display: flex;
        align-items: center;
        justify-content: center; 
      }

      .footer .section-footer .email .input-email .button:hover {
        opacity: 0.8; 
      }

      .footer .section-footer .email .input-email .button::before {
        width: 20px;
        height: 20px;
        background-image: url("/image/send.svg");
        background-repeat: no-repeat;
        background-position: center;
        content: ""; 
      }

    .footer .section-footer .email .email-footer {
      font-family: 'OpenSans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 160%;
      color: #FFFFFF; 
    }

    .footer .section-footer .email .line-decoration {
      color: white; }

.text-footer {
  padding-top: 76px;
  padding-bottom: 100px;
  text-align: center;
  font-family: 'OpenSans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%; 
}